.Corousel{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: auto;
    flex-direction: column;
    
    
    cursor: pointer;

    .Corousel_top{
        margin: 0;
        width: 100%;
        height: 250px;
        
        img{
            width: 100%;
            height: 100%;
            aspect-ratio: 3/4;
            object-fit: cover;
        }
    }

    .Corousel_bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        margin-top: 10px;
        

        .Corousel_type{
            font-size: 20px;
            font-weight: 600;
            color: gray;
        }
        .Corousel_offer{
            font-size: 18px;
            font-weight: 800;
            
        }
        .Corousel_desc{
            font-size: 15px;
            font-weight: 600;

        }
    }
}

.slick-slider {
    margin:0 -15px;
}

@media screen and (max-width: 1080px) {
    .Corousel{
       

        .Corousel_top{
            width: 100%;
            height: max-content;

            img{
                width: 150px;
                object-fit: cover;
            }
        }
        .Corousel_bottom{
            gap: 1px;
        }
        .Corousel_type{
            font-size: 15px !important;
        }
        .Corousel_desc{
            font-size: 10px !important;
        }
        .Corousel_offer{
            font-size: 15px !important;
        }
    }
 }