.singlePage {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.crumbs {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
    padding-left: 20px;
    
}

.single_itemDetails {
    display: flex;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.single_itemImages {

    flex: 4;
    overflow: hidden;
}

.single_itemDesc {
  
    flex: 3;
    padding-left: 25px;
    margin-right: 20px;
}

.related{

    margin-top: 25px;
}
.related h3{

    margin-left: 20px;
    font-size: 17px;
    font-weight: 800;
}
