.filter{
    position: sticky;
    bottom: 0;
    width: 100%;
    border-right: 1px solid rgba(211, 211, 211, 0.605);

    .catogories{
        padding: 15px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        border-bottom: 1px solid rgba(211, 211, 211, 0.605);

        h3{
            font-size: 15px;
            font-weight: 700
        }
        .items{
            margin-left: 5px;

            .item{
                font-size: 14px;
                font-weight: 300;
                margin-bottom: 4px;


                label{
                    margin-left: 10px;
                }
                .stock{
                    font-size: 11px;
                    font-weight: 300;
                    color: gray;
                    margin-left: 4px;
                }
                .check-box {
                    cursor: pointer;
                    width: 15px;
                    height: 15px;
                    background-color: #fff;
                    border: 1px solid gray;
                    border-radius: 3px;
                  }
                  
            }
            .more{
                cursor: pointer;
                margin-left: 6px;
                font-size: 13px;
                font-weight: 300;
                color: red;
            }
        }
    }
}