.add-form {
    display: flex;
    flex-direction: column;

    .heading {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        padding-bottom: 20px;
        border-bottom: 1px solid lightgray;

        button {
            padding: 5px 15px;
            border: none;
            border-radius: 5px;
            color: white;
            background-color: rgba(0, 0, 0, 0.532);
            cursor: pointer;
        }

        button:hover {
            background-color: rgba(0, 0, 0, 0.707);
        }
    }

    .sections {
        display: flex;

        .basicInfo {
            flex: 4;

            .details {
                padding: 20px;
                display: flex;
                gap: 10px;
                flex-direction: column;

                .imageInput{
                    margin-top: 10px;
                    gap: 20px;
                    display: flex;
                }
                .large-input {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    gap: 5px;

                    .input {
                        border: 1px solid lightgray;
                        padding: 5px;
                        border-radius: 5px;

                        input {
                            width: 100%;
                            border: none;
                            outline: none;
                            background-color: transparent;
                        }
                    }
                }

                .adding-input {
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    gap: 5px;

                    .actions {
                        display: flex;
                        gap: 5px;

                        .input {
                            flex: 6;
                            border: 1px solid lightgray;
                            padding: 5px;
                            border-radius: 5px;

                            input {
                                width: 100%;
                                border: none;
                                outline: none;
                                background-color: transparent;
                            }
                        }

                        button {
                            flex: 1;
                            width: max-content;
                            padding: 5px 15px;
                            border-radius: 5px;
                            border: none;
                            color: white;
                            background-color: rgba(0, 0, 0, 0.532);
                            cursor: pointer;

                        }

                        button:hover {
                            background-color: rgba(0, 0, 0, 0.707);
                        }
                    }

                    .detailsDisplay {
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        gap: 10px;

                        .value {
                            flex: 6;
                            border: 1px solid lightgray;
                            padding: 5px;
                            border-radius: 5px;
                        }

                        .delete {
                            cursor: pointer;
                            color: gray;
                            font-size: 25px;
                        }
                    }
                }
            }
        }

        .otherInfo {
            flex: 2;

            .details {
                padding: 20px;
                display: flex;
                gap: 10px;
                flex-direction: column;

                .small-input {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    margin-top: 10px;
                    gap: 5px;
                    position: relative;

                    .inputs {
                        display: flex;
                        justify-content: space-between;
                        gap: 10px;

                        .input {
                            border: 1px solid lightgray;
                            padding: 5px;
                            border-radius: 5px;

                            input {
                                width: 100%;
                                border: none;
                                outline: none;
                                background-color: transparent;
                            }
                        }
                    }

                    .gender-input {
                        width: 200px;
                        padding-left: 20px;
                        padding-right: 20px;
                        display: flex;
                        justify-content: space-between;

                        p {
                            font-size: 12px;
                        }

                    }
                    .inputField {
                        width: 200px;
                        margin-top: 10px;
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        margin-left: 20px;
                        justify-content: space-between;

                        p{
                            font-weight: 500;
                        }
                        .input {
                            border: 1px solid lightgray;
                            padding: 5px;
                            border-radius: 5px;
                            width: 100px;

                            input {
                                
                                border: none;
                                outline: none;
                                background-color: transparent;
                            }
                        }
                    }

                }


            }
        }
    }
}

.addFormImages{
    width: 100%;
    display: flex;
    gap: 10px;

}
.addFormImage{
    cursor:pointer;
    position:relative
}

h3 {
    font-size: 20px;
    font-weight: 500;
}

h4 {
    font-size: 16px;
    font-weight: 500;
}

h5 {
    font-size: 14px;
    font-weight: 400;
}

p {
    font-size: 13px;
    font-weight: 400;
}

h6 {
    font-size: 11px;
    font-weight: 400;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
hr{
    margin-top: 5px;
    margin-bottom: 5px;
    color: rgba(211, 211, 211, 0.338);
    border-style: double; 
}
/* input[type="number"] {
    -moz-appearance: textfield;
} */