.collectionsMain {

    .displayItem {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;

        .image {
            img {
                height: 300px;
                width: 100%;
                object-fit: cover;
            }
            
        }

        .details {
            margin-left: 6px;

            h3 {

                font-size: 15px;
                font-weight: 700;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            .pay {
                display: flex;
                align-items: center;
                gap: 10px;

                .price {
                    font-size: 15px;
                    font-weight: 600;
                }

                .offer {
                    font-size: 12px;
                    font-weight: 300;
                    color: orange;
                }
                strike{
                    font-size: 12px;
                    font-weight: 300;
                    color: rgba(0, 0, 0, 0.76);
                }
            }
        }
    }
}