.cards{
    height: 250px;
}
.sideFilterMain{
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideFilter{

    margin-top: 10px;
    height: 500px;
    width: 220px;
}
.singlePageImageMain{
    padding-left: 20px;
    display: inline-block;
    margin: 10px;
}
.singlePageImage{
    width: 300px;
    height: 300px !important;

}