.productDetails{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.863);
    

    h3{
        font-size: 25px;
        font-weight: 800;
        color: rgba(0, 0, 0, 0.777);
    }
    p{
        font-size: 20px;
        font-weight: 400;
        color: gray;
    }
    .rating{
        border: 1px solid rgba(128, 128, 128, 0.545);
        width: max-content;
        padding: 5px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        cursor: pointer;
        border-radius: 2px;
   

        p{
            font-size: 14px;
            font-weight: 700;
            color: rgba(0, 0, 0, 0.777);
        }
        .rate{
            font-size: 14px;
            font-weight: 300;
            color: gray;
        }
        .icon{
            color: green;
            font-size: 15px;
        }
    }
    .rating:hover{
        border: 1px solid black;
    }
}

.productPricing{

    padding-bottom: 25px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.863);

    .price{
        margin-top: 10px;
        display: flex;
        flex-direction: column;
        gap: 5px;

        .priceDetails{
            display: flex;
            gap: 10px;
            width: max-content;
            justify-content: center;
            align-items: center;

            .currentPrice{

                font-size: 25px;
                font-weight: 700;
                color: rgba(0, 0, 0, 0.777);
            }
            .actualprice{
                font-size: 20px;
                font-weight: 300;
                color: gray;
            }
            .discount{
                font-size: 23px;
                color: orange;
                font-weight: 600;
            }

        }
        .tax{
            font-weight: 700;
            color: green;
        }
    }
    .sizeSelection{
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        h4{
            font-size: 15px;
            font-weight: 700;
        }

        .error{
            color: red;
            font-size: 13px;
        }
        .sizeChart{
            display: flex;
            gap: 20px;

            .sizes{
                cursor: pointer;
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid rgba(128, 128, 128, 0.545);
                border-radius: 50%;
                font-size: 15px;
                font-weight: 700;
            }
            .active{
                border: 1px solid rgba(255, 0, 0, 0.529);
                color:rgba(255, 0, 0, 0.529);;
            }

            .sizes:hover{
                border: 1px solid rgba(255, 0, 0, 0.529);
            }
        }

    }
    .addItem{
        display: flex;
        width: 100%;
        gap: 10px;
        margin-top: 30px;

        .addToCart{
            width: 300px;
            padding: 15px 10px;
            background-color: rgba(205, 25, 25, 0.832);
            border-radius: 5px;
            color: white;
            font-weight: 700;
            gap: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
        .wishList{
            width:200px;
            padding: 15px 10px;
            border-radius: 5px;
            border: 1px solid rgba(128, 128, 128, 0.373);
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
            gap: 10px;
            color: rgba(0, 0, 0, 0.777);
            cursor: pointer;
        }
        .wishList:hover{
            border: 1px solid black;
        }
        .addToCart:hover{
            background-color: rgba(205, 25, 25, 0.567);
        }
    }
}
.delivery{

    padding-bottom: 25px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.863);
    color: rgba(0, 0, 0, 0.777);
    margin-top: 20px;

    .deliveryHeading{
        width: max-content;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;

        h3{
            font-size: 15px;
            font-weight: 700;
        }

        
    }
    
}
.productDesc{
    margin-top: 25px;
    padding-bottom: 25px;
    border-bottom: 1px solid rgba(211, 211, 211, 0.863);
    color: rgba(0, 0, 0, 0.777);

    .productDesc_about{
        display: flex;
        flex-direction: column;
        gap: 20px;

        .productDesc_aboutHeading{
            display: flex;
            gap: 10px;
            align-items: center;
            justify-content: center;
            width: max-content;

            h3{
                font-size: 15px;
            }
        }
        .productDesc_details{
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 15px;
        }
    }
    .productDesc_others{
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px;

        .productDesc_otherHeading{

            h3{
                font-size: 14.5px;
            }
        }
        .productDesc_details{
            display: flex;
            flex-direction: column;
            gap: 5px;
            font-size: 15px;
        }
    }

}
.actionButton{

    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgba(245, 245, 220, 0.426);
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
    font-weight: 600;
    color: white;
}
.actionLOGO{
    font-size: 16px !important;
}