.banner{
    overflow: hidden;
    width: 100vw;
    height: 89vh;
    padding-right: 27px;

    
    .bannerItems{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 100%;


        .salesTimer{
            width: 100%;
            height: 70px;
            background-color: rgba(173, 216, 230, 0.581);
            display: flex;
            justify-content: center;
            align-items: center;
            

            p{
                font-size: 14px;
                color: rgba(0, 0, 0, 0.504);
            }
            .time{
                font-size: 18px;
                color: red;
            }

        }
        .image img{
            background-color: aqua;
            margin-top: 10px;
            width: 100%;
            height:100%;
            object-fit: cover;
        }
    }
}