.viewButton,.deleteButton{
    padding: 8px 15px;
    margin: 3px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    border-radius: 10px;
}
.deleteButton{
    background-color: rgba(255, 0, 0, 0.671);
}
.deleteButton:hover{
    background-color: rgba(255, 0, 0, 0.344);
}
.viewButton{
    background-color: rgba(3, 3, 154, 0.701);
    color: aliceblue;
}
.viewButton:hover{
    background-color: rgba(3, 3, 154, 0.447);
    color: aliceblue;
}
.orderOptions{
    position:absolute;
    z-index:33;
    background-color:whitesmoke;
    
    ul{
        list-style: none;
        padding: 5px;
    }
    
}
.dataTable-main{
    position:relative;
   
}

.dataTable-main .blur{
    pointer-events: none;
}

.dataTable-main::before{
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(.3px);
    z-index: 100;
    display: none;
  
}
.dataTable-main.blur::before{
    display:block;
}