.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    width: 100vw;
    background-color: whitesmoke;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.41);
    position: relative;
    top: 0;
    z-index: 1000;

    
    .LOGO-Section{
        display: flex;
        justify-content: space-between;
        gap: 10px;
        align-items: center;

        .ham{
            display: none;
        }

        .logo{
            text-wrap: nowrap;
            text-decoration: none;
            display: flex;
            color: #000;
            font-family: teko;
            font-size: 15px;
        }
    }
   

    .navs{
        display: flex;
        height: 100%;
        align-items: center;
        

        ul{
            display: flex;
            gap: 30px;
            height: 70px;
            align-items: center;
            
            
            li{
                list-style: none;
                display: flex;
                height: 70px;
                align-items: center;
                padding: 20px;
                border-bottom: 3px solid transparent; 
                transition: 0.5s ease-in-out;
                cursor: pointer;
                
            }

            .men{
                border-bottom: 3px solid rgb(36, 8, 159);
            }
            .women{
                border-bottom: 3px solid rgb(248, 6, 208);
            }
            .kids{
                border-bottom: 3px solid rgb(176, 117, 22);
            }
            .beauty{
                border-bottom: 3px solid rgb(11, 178, 169);
            }
        }
    }
    .search{
        width: 400px;
        height: 35px;
        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        color: gray;
        
        .icon{
            font-size: 18px;
            margin-left: 6px;
            cursor: pointer;
        }
        input{
            border: none;
            outline: none;
            background-color: whitesmoke;
            width: 400px;
            margin-left: 7px;
        }
    }

    .profile{
        height: 100%;

        .lists{
            display: flex;
            gap: 20px;
            height: 100%;

            .listItems{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                height: 100%;
            

                .logout{
                    position: absolute;
                    top: 70px;
                    width: 120px;
                    height: 30px;
                    display: flex;
                    justify-content: center;
                    background-color: white;
                    border: 1px solid lightgray;
                    
                    align-items: center;
                    gap: 10px;
                    
                    padding: 5px 15px;
                    

                    .icon{

                        font-size: 16px;
                    }

                    p{
                        font-size: 13px;
                        font-weight: 600;
                    }
                }
                .count {
                    position: absolute;
                    top: 19px;
                    right: -7px;
                    font-size: 12px;
                    background-color: red;
                    width: 20px; /* Adjusted width */
                    display: flex;
                    justify-content: center;
                    border-radius: 50%;
                    height: 15px;
                    align-items: center;
                }
                .icon{
                    cursor: pointer;
                    font-size: 25px;
                }

                .text{
                    font-size: smaller;
                   
                }
            }
            
        }
    }
}
.icon{
    cursor: pointer;
}

@media screen and (max-width: 1080px) {

    .navbar{
        justify-content: space-between;
        padding-left: 10px;
        padding-right: 10px;
    }
    .navs{
        display: none !important;
    }
    
    .search{
        display: none !important;
    }
    .LOGO-Section{
        .ham{
            display: block !important;
        }
        .logo{
            text-wrap: nowrap;
            font-size: 12px !important;
        }
    }
 }