.navbar{
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    width: 100vw;
    background-color: whitesmoke;
    align-items: center;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.41);
    position: sticky;
    top: 0;
    z-index: 1000;

    

    .logo{
        display: flex;
        font-family: teko;
    }

    .navs{
        display: flex;
        height: 100%;
        align-items: center;
        

        ul{
            display: flex;
            gap: 30px;
            height: 70px;
            align-items: center;
            
            
            li{
                list-style: none;
                display: flex;
                height: 70px;
                align-items: center;
                padding: 20px;
                border-bottom: 3px solid transparent; 
                transition: 0.5s ease-in-out;
                cursor: pointer;
                
            }

            .men{
                border-bottom: 3px solid rgb(36, 8, 159);
            }
            .women{
                border-bottom: 3px solid rgb(248, 6, 208);
            }
            .kids{
                border-bottom: 3px solid rgb(176, 117, 22);
            }
            .beauty{
                border-bottom: 3px solid rgb(11, 178, 169);
            }
        }
    }
    .search{
        width: 400px;
        height: 35px;
        display: flex;
        align-items: center;
        border: 1px solid lightgray;
        color: gray;
        
        .icon{
            font-size: 18px;
            margin-left: 6px;
            cursor: pointer;
        }
        input{
            border: none;
            outline: none;
            background-color: whitesmoke;
            width: 400px;
            margin-left: 7px;
        }
    }

    .profile{

        .lists{
            display: flex;
            gap: 20px;

            .listItems{
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;

                .count{
                    position: absolute;
                    top:-5px;
                    right:-5px;
                    font-size: 12px;
                    background-color: red;
                    width: 15px;
                    display: flex;
                    justify-content: center;
                    border-radius: 50%;
                    height: 15px;
                    align-items: center;
                }
                .icon{
                    cursor: pointer;
                    font-size: 25px;
                }

                .text{
                    font-size: smaller;
                   
                }
            }
        }
    }
}